# LagunaGFX's setup for Raspberry Pi's automated MIDI box routing
#
# based on Mad Kjeldgaards work published in his Hyaline System's blog
# https://hyaline.systems/blog/linux-audio-startup/

[Unit]
Requires=dbus.socket
After=sound.target dbus.service
Description=Starts jack when audio is ready on the system

[Service]
Type=simple
User=dietpi
Group=audio
Environment="JACK_NO_AUDIO_RESERVATION=1"
LimitRTPRIO=99
LimitMEMLOCK=infinity
ExecStart=/usr/bin/bash /home/dietpi/jack_audioserver.sh

ExecStartPost=/usr/bin/jack_wait -w -t 10
Restart=on-failure
TimeoutSec=15

[Install]
WantedBy=multi-user.target
