# set -g default-terminal "screen-256color"
# amount of time for which status line messages are displayed ( 0 to wait for keypress )
set -g display-time 0
setw -g automatic-rename off
set -g status-interval 5
set -g mouse off

# split panes using | and -
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# reload config file (change file location to your the tmux.corf you want to use)
bind r source-file ~/.tmux.conf \; display 'Reloaded tmux config'

# use shift + arrow key to move between windows in a session
bind -n S-Left previous-window
bind -n S-Right next-window

# switch panes using Alt-arrow without prefix
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# send modifier to nested tmux session
unbind C-r
bind -n C-r send-prefix

# clock
setw -g clock-mode-colour "colour061"

# window status
set -g status-bg "colour061"
set -g status-fg "black"
set -g pane-border-style "fg=colour061"
set -g pane-active-border-style "fg=brightwhite"

set -g status-left-length 35
set -g status-right-length 125
set -g status-left "#[bg=colour055]#[fg=white] [#S] #{?window_zoomed_flag,#[bold]Z ,}#[bg=colour061]#[fg=default] "
set -g window-status-current-format "#[bg=colour061]#[fg=brightwhite]#[bold]#I:#W*"
set -g window-status-format "#I:#W#{?window_last_flag,-,}"
set -g window-status-separator " | "
set -g status-right "#[fg=white] #{window_width}x#{window_height}#{?client_utf8, utf8,} #[bg=colour067]#[fg=default] cpu #{cpu_percentage} #{cpu_temp} mem #{ram_percentage} #[bg=colour073]#[fg=default] root #{df_percent} home #{df_percent_private1} #[bg=colour079]#[fg=default] uptime #{lgfx_uptime} #[bg=colour085]#[fg=default] %Y/%m/%d %H:%M "

# plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'tassaron/tmux-df'
set -g @plugin 'lagunagfx/tmux-uptime'
set -g @df_cmd_private1 "/home"
# set -g @plugin 'tmux-plugins/tmux-net-speed'
# set -g @net_speed_format "u %6s d %6s"
# set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

# colours
# 1:"colour055"
# 2:"colour061"
# 3:"colour067"
# 4:"colour073"
# 5:"colour079"
# 6:"colour085"
