[Unit]
Description=Seafile command line client
After=network.target

[Service]
Type=oneshot
User=jorge
WorkingDirectory=/home/jorge/Seafile
ExecStart=/usr/bin/seaf-cli start
ExecStop=/usr/bin/seaf-cli stop
RemainAfterExit=yes
#PIDFile=/tmp/seaf-cli_jorge.pid

[Install]
WantedBy=multi-user.target
